<h2 class="text-2xl font-black">傀異錬成防具管理</h2>

<form class="mt-6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- TODO: CSV のヘルプを表示する -->
  <textarea
    class="block min-h-[220px] w-full rounded border border-gray-300 py-1 px-1.5 dark:border-zinc-700 dark:bg-zinc-800"
    formControlName="csv"
  ></textarea>

  <div class="mt-4 flex gap-x-3">
    <button uic-button type="submit">CSVをインポート</button>
    <button (click)="exportAsCsv()" uic-button type="button">エクスポート</button>
  </div>

  <ng-container *ngIf="augmentations$ | async as augmentations">
    <div class="mt-4 grid grid-cols-2 gap-px bg-white dark:bg-zinc-800">
      <ng-container *ngIf="augmentations.length > 0; else otherwise">
        <dl
          class="shadow-px grid grid-cols-[minmax(100px,200px),min-content,1fr] shadow-gray-100 dark:shadow-zinc-700"
          *ngFor="let augmentation of augmentations | slice : sliceStart : sliceEnd"
        >
          <dt class="sr-only">防具名</dt>
          <dd class="py-2 px-4">{{ augmentation.name }}</dd>
          <!-- <dt class="sr-only">防御力</dt>
          <dd class="py-2 px-4 text-right font-mono">
            <em [uicPrettyNumber]="augmentation.defense">{{
              augmentation.defense | sign : '-'
            }}</em>
          </dd>
          <dt class="sr-only">火耐性</dt>
          <dd class="py-2 px-4 text-right font-mono">
            <em [uicPrettyNumber]="augmentation.fireResistance">{{
              augmentation.fireResistance | sign : '-'
            }}</em>
          </dd>
          <dt class="sr-only">水耐性</dt>
          <dd class="py-2 px-4 text-right font-mono">
            <em [uicPrettyNumber]="augmentation.waterResistance">{{
              augmentation.waterResistance | sign : '-'
            }}</em>
          </dd>
          <dt class="sr-only">雷耐性</dt>
          <dd class="py-2 px-4 text-right font-mono">
            <em [uicPrettyNumber]="augmentation.thunderResistance">{{
              augmentation.thunderResistance | sign : '-'
            }}</em>
          </dd>
          <dt class="sr-only">氷耐性</dt>
          <dd class="py-2 px-4 text-right font-mono">
            <em [uicPrettyNumber]="augmentation.iceResistance">{{
              augmentation.iceResistance | sign : '-'
            }}</em>
          </dd>
          <dt class="sr-only">龍耐性</dt>
          <dd class="py-2 px-4 text-right font-mono">
            <em [uicPrettyNumber]="augmentation.dragonResistance">{{
              augmentation.dragonResistance | sign : '-'
            }}</em>
          </dd> -->
          <dt class="sr-only">追加スロット</dt>
          <dd class="whitespace-nowrap py-2 px-4 font-mono">
            <span class="-mx-1" *ngFor="let slot of augmentation.slots"
              >【<em class="whitespace-pre" [uicPrettyNumber]="slot">{{
                slot | sign : ' '.repeat(2)
              }}</em
              >】</span
            >
          </dd>
          <dt class="sr-only">追加スキル</dt>
          <dd class="py-2 px-4">
            <ng-container *ngFor="let skill of augmentation.skills; let last = last">
              {{ skill[0] }}<em [uicPrettyNumber]="skill[1]">{{ skill[1] | sign }}</em>
              <ng-container *ngIf="!last">, </ng-container>
            </ng-container>
          </dd>
        </dl>
      </ng-container>
      <ng-template #otherwise>
        <div class="py-2 px-4 text-sm font-semibold" colspan="9">データが未登録です</div>
      </ng-template>
    </div>
    <uic-paginator
      [(page)]="page"
      [(pageSize)]="pageSize"
      [length]="augmentations.length"
      [pageSizes]="pageSizes"
    />
  </ng-container>
</form>
