<h2 class="text-2xl font-black">傀異錬成防具管理</h2>

<form class="mt-6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- TODO: CSV のヘルプを表示する -->
  <textarea
    class="block min-h-[220px] w-full rounded border border-gray-300 py-1 px-1.5 dark:border-zinc-700 dark:bg-zinc-800"
    formControlName="csv"
  ></textarea>

  <div class="mt-4 flex gap-x-3">
    <button uic-button type="submit">CSVをインポート</button>
    <button (click)="exportAsCsv()" uic-button type="button">エクスポート</button>
  </div>

  <div
    class="mt-4 w-max max-w-full overflow-hidden rounded border border-gray-100 dark:border-zinc-700"
  >
    <div class="max-h-[80vh] max-w-full overflow-auto">
      <table class="whitespace-pre">
        <thead class="sticky top-0 bg-slate-100 dark:bg-zinc-900">
          <tr>
            <th class="py-2 px-4 text-left text-sm font-semibold">防具</th>
            <th class="py-2 px-4 text-right text-sm font-semibold">防御</th>
            <th class="py-2 px-4 text-right text-sm font-semibold">
              <abbr class="no-underline" title="火耐性">火</abbr>
            </th>
            <th class="py-2 px-4 text-right text-sm font-semibold">
              <abbr class="no-underline" title="水耐性">水</abbr>
            </th>
            <th class="py-2 px-4 text-right text-sm font-semibold">
              <abbr class="no-underline" title="雷耐性">雷</abbr>
            </th>
            <th class="py-2 px-4 text-right text-sm font-semibold">
              <abbr class="no-underline" title="氷耐性">氷</abbr>
            </th>
            <th class="py-2 px-4 text-right text-sm font-semibold">
              <abbr class="no-underline" title="龍耐性">龍</abbr>
            </th>
            <th class="py-2 px-4 text-left text-sm font-semibold">スロット</th>
            <th class="py-2 px-4 text-left text-sm font-semibold">スキル</th>
          </tr>
        </thead>
        <tbody
          class="divide-y divide-gray-100 bg-white dark:divide-zinc-700 dark:bg-zinc-800"
          *ngIf="augmentationStatuses$ | async as augmentationStatuses"
        >
          <ng-container *ngIf="augmentationStatuses.length > 0; else otherwise">
            <tr *ngFor="let augmentationStatus of augmentationStatuses">
              <td class="py-2 px-4">{{ augmentationStatus.name }}</td>
              <td class="py-2 px-4 text-right font-mono">
                <em [uicPrettyNumber]="augmentationStatus.defense">{{
                  augmentationStatus.defense | sign : '-'
                }}</em>
              </td>
              <td class="py-2 px-4 text-right font-mono">
                <em [uicPrettyNumber]="augmentationStatus.fireResistance">{{
                  augmentationStatus.fireResistance | sign : '-'
                }}</em>
              </td>
              <td class="py-2 px-4 text-right font-mono">
                <em [uicPrettyNumber]="augmentationStatus.waterResistance">{{
                  augmentationStatus.waterResistance | sign : '-'
                }}</em>
              </td>
              <td class="py-2 px-4 text-right font-mono">
                <em [uicPrettyNumber]="augmentationStatus.thunderResistance">{{
                  augmentationStatus.thunderResistance | sign : '-'
                }}</em>
              </td>
              <td class="py-2 px-4 text-right font-mono">
                <em [uicPrettyNumber]="augmentationStatus.iceResistance">{{
                  augmentationStatus.iceResistance | sign : '-'
                }}</em>
              </td>
              <td class="py-2 px-4 text-right font-mono">
                <em [uicPrettyNumber]="augmentationStatus.dragonResistance">{{
                  augmentationStatus.dragonResistance | sign : '-'
                }}</em>
              </td>
              <td
                class="py-2 px-4"
                *ngIf="{ slots: zipSlots(augmentationStatus) } as context"
                [attr.aria-label]="ariaLabel(context.slots)"
              >
                <app-slot
                  *ngFor="let slot of context.slots"
                  [size]="slot[0]"
                  [extendedSize]="slot[1]"
                />
              </td>
              <td class="py-2 px-4">
                <ng-container *ngFor="let skill of augmentationStatus.skills; let last = last">
                  {{ skill[0] }}<em [uicPrettyNumber]="skill[1]">{{ skill[1] | sign }}</em>
                  <ng-container *ngIf="!last">, </ng-container>
                </ng-container>
              </td>
            </tr>
          </ng-container>
          <ng-template #otherwise>
            <tr>
              <td class="py-2 px-4 text-sm font-semibold" colspan="9">データが未登録です</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</form>
