<table class="w-full">
  <thead class="bg-slate-100 dark:bg-zinc-900">
    <tr>
      <th scope="col" class="w-1/6 py-2 px-3 text-right text-sm font-semibold">防御</th>
      <th scope="col" class="w-1/6 py-2 px-3 text-right text-sm font-semibold">
        <abbr class="no-underline" title="火耐性">火</abbr>
      </th>
      <th scope="col" class="w-1/6 py-2 px-3 text-right text-sm font-semibold">
        <abbr class="no-underline" title="水耐性">水</abbr>
      </th>
      <th scope="col" class="w-1/6 py-2 px-3 text-right text-sm font-semibold">
        <abbr class="no-underline" title="雷耐性">雷</abbr>
      </th>
      <th scope="col" class="w-1/6 py-2 px-3 text-right text-sm font-semibold">
        <abbr class="no-underline" title="氷耐性">氷</abbr>
      </th>
      <th scope="col" class="w-1/6 py-2 px-3 text-right text-sm font-semibold">
        <abbr class="no-underline" title="龍耐性">龍</abbr>
      </th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-100 bg-white dark:divide-zinc-700 dark:bg-zinc-800">
    <tr>
      <td class="py-2 px-3 text-right font-mono">{{ build.defense }}</td>
      <td class="py-2 px-3 text-right font-mono">{{ build.fireResistance }}</td>
      <td class="py-2 px-3 text-right font-mono">{{ build.waterResistance }}</td>
      <td class="py-2 px-3 text-right font-mono">{{ build.thunderResistance }}</td>
      <td class="py-2 px-3 text-right font-mono">{{ build.iceResistance }}</td>
      <td class="py-2 px-3 text-right font-mono">{{ build.dragonResistance }}</td>
    </tr>
  </tbody>
</table>

<table class="w-full border-y border-gray-100 dark:border-zinc-700">
  <thead class="sr-only">
    <tr>
      <th scope="col">武器・防具・護石名</th>
      <th scope="col">装飾品設定</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-100 dark:divide-zinc-700">
    <tr *ngFor="let row of rows">
      <th
        scope="row"
        class="w-5/12 bg-slate-100 p-3 text-left align-top font-normal dark:bg-zinc-900"
      >
        {{ build[row]?.name ?? '-' }}
        <ng-container *ngIf="build[row]?.augmentation">
          <sup>傀</sup>
          <div class="text-sm font-normal">
            <ng-container *ngFor="let skill of build[row]?.augmentation?.skills">
              {{ skill[0] }}
              <uic-pretty-number class="font-mono" [value]="skill[1]"></uic-pretty-number>
            </ng-container>
          </div>
        </ng-container>
      </th>
      <td class="w-7/12 bg-white p-3 align-top dark:bg-zinc-800">
        <div *ngFor="let slot of build[row]?.slots; let index = index">
          <ng-container *ngIf="(build[row]?.augmentation?.slots?.[index] ?? 0) > 0; else otherwise">
            <span class="mr-3"
              >【<span [class.text-green-400]="slot > 0">{{ slot }}</span
              >】:</span
            >
            <span>{{ build[row]?.decorations?.[index]?.name }}</span>
          </ng-container>
          <ng-template #otherwise>
            <span class="mr-3">【{{ slot }}】:</span>
            <span>{{ build[row]?.decorations?.[index]?.name }}</span>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="flex flex-wrap gap-2 p-3">
  <span
    class="rounded-sm bg-white py-1.5 px-2 text-xs dark:bg-zinc-700"
    *ngFor="let skill of aggregateSkill(build)"
  >
    {{ skill.name }}Lv{{ skill.total }}
  </span>
</div>
