<div
  class="flex flex-col focus-within:rounded-sm focus-within:outline focus-within:outline-2 focus-within:outline-offset-4 focus-within:outline-pink-300"
>
  <span class="flex items-center truncate">
    <app-skill-badge [color]="skill.color" shape="diamond"></app-skill-badge>
    <span class="relative ml-1 block" [attr.title]="skill.name">
      {{ skill.name }}
      <select class="absolute inset-0 text-black opacity-0" (change)="select($event)">
        <option
          *ngFor="let choice of choices"
          [selected]="choice === currentLevel"
          value="{{ choice }}"
        >
          <ng-container *ngIf="choice > 0; else otherwise">Lv{{ choice }}</ng-container>
          <ng-template #otherwise>--</ng-template>
        </option>
      </select>
    </span>
  </span>
  <span class="mt-1 ml-1 flex gap-x-1.5">
    <label class="relative first:sr-only" *ngFor="let choice of choices">
      <input
        class="sr-only"
        [attr.name]="'skill-input-' + skill.name"
        [attr.checked]="currentLevel === choice"
        [attr.value]="choice"
        (click)="onClick(choice)"
        type="radio"
      />
      <span
        class="block h-4 w-3 -skew-x-12"
        [class.bg-blue-400]="currentLevel >= choice"
        [class.bg-slate-300]="currentLevel < choice"
      ></span>
      <div class="sr-only">レベル{{ choice }}</div>
    </label>
  </span>
</div>
