<div
  [formGroup]="form"
  class="items:items-start flex flex-col gap-3 rounded-t-md border-x border-t border-gray-300 bg-slate-100 p-3 dark:border-zinc-700 dark:bg-zinc-900 md:flex-row md:items-center"
>
  <span class="relative">
    <input
      id="skill-filter"
      type="text"
      formControlName="query"
      placeholder="スキルの絞り込み"
      class="block rounded-md py-1 pl-2.5 pr-6 dark:bg-zinc-800"
      autocomplete="off"
    />

    <button
      *ngIf="form.controls.query.value.length > 0"
      type="button"
      (click)="resetQuery()"
      class="absolute top-1/2 bottom-0 right-2 h-3 w-3 -translate-y-1/2"
    >
      <span class="sr-only">入力内容をクリアする</span>
      <uic-icon name="x" class="text-slate-600"></uic-icon>
    </button>
  </span>

  <div>
    <div id="filter-skill-label" class="sr-only">スキルの絞り込み</div>
    <label class="relative" [class.sr-only]="color.value === null" *ngFor="let color of colors">
      <input
        formControlName="color"
        aria-labelledby="filter-skill-label"
        type="radio"
        name="color"
        (click)="onClickColor(color.value)"
        class="sr-only"
      />
      <span class="sr-only">{{ color.label }}</span>
      <app-skill-badge *ngIf="color.value" [color]="color.value" shape="circle"></app-skill-badge>
    </label>
  </div>
</div>
<div
  class="relative max-h-96 overflow-y-auto rounded-b-md border-x border-b border-gray-300 dark:border-zinc-700"
  [formGroup]="formGroup"
>
  <div
    class="grid grid-cols-[repeat(auto-fill,minmax(140px,1fr))] gap-3 bg-white p-3 dark:bg-zinc-800"
  >
    <ng-container *ngIf="!isEmpty; else emptyState">
      <app-skill-input
        *ngFor="let skill of skills; trackBy: trackBy"
        [formControlName]="skill.name"
        [skill]="skill"
        [attr.hidden]="skillsVisibility[skill.name]"
      ></app-skill-input>
    </ng-container>
    <ng-template #emptyState>
      <div class="col-span-full">一致するスキルがありません</div>
    </ng-template>
  </div>

  <div
    *ngIf="selectedSkills.length > 0"
    class="sticky bottom-0 left-0 z-10 w-full overflow-hidden bg-slate-100 dark:bg-zinc-900"
  >
    <ul class="flex gap-3 overflow-x-auto p-3">
      <li
        *ngFor="let skill of selectedSkills"
        class="flex flex-shrink-0 items-center rounded-sm bg-white py-1.5 px-2 text-xs dark:bg-zinc-700"
      >
        {{ skill.name }} Lv{{ skill.level }}
        <button type="button" (click)="deselect(skill.name)" class="ml-1 h-3 w-3">
          <uic-icon name="x"></uic-icon>
          <span class="sr-only">選択を解除する</span>
        </button>
      </li>
    </ul>
  </div>
</div>
