<div
  class="md:top-header fixed right-0 bottom-0 z-10 flex w-full flex-col border-t bg-white shadow dark:border-zinc-700 dark:bg-zinc-800 md:w-80 md:border-t-0 md:dark:border-l lg:w-96"
>
  <header
    class="touch-none items-center border-gray-300 bg-slate-100 dark:border-zinc-700 dark:bg-zinc-900"
    [class.cursor-ns-resize]="expanded"
    (pointerdown)="onPointerEvent($event)"
    (pointermove)="onPointerEvent($event)"
    (pointerup)="onPointerEvent($event)"
    (pointerleave)="onPointerEvent($event)"
    (pointercancel)="onPointerEvent($event)"
    (keydown)="onKeyDown($event)"
    tabindex="0"
  >
    <div class="relative flex items-center p-3">
      <h3 class="text-sm font-semibold">検索結果</h3>
      <button type="button" class="ml-auto h-5 w-5 md:hidden" (click)="toggle()">
        <uic-icon [name]="expanded ? 'chevron-down' : 'chevron-up'"></uic-icon>
        <span class="sr-only">{{ expanded ? '検索結果を閉じる' : '検索結果を開く' }}</span>
      </button>
    </div>
  </header>
  <div
    #expandable
    class="max-h-[80vh] overflow-y-auto overscroll-contain md:max-h-[none] md:flex-1"
    [style.height.px]="height"
    [@expansion]="getExpandedState()"
  >
    <ng-container *ngIf="result; else emptyState" [ngSwitch]="result.type">
      <div class="px-2 py-4" *ngSwitchCase="'failed'">組み合わせが見つかりませんでした</div>
      <ng-container *ngSwitchCase="'succeeded'">
        <app-build-viewer
          *ngFor="let build of $any(result).builds"
          [build]="build"
        ></app-build-viewer>
      </ng-container>
    </ng-container>
    <ng-template #emptyState>
      <div class="px-2 py-4">スキルを選択してください</div>
    </ng-template>
  </div>
</div>
