<ng-container *ngrxLet="collapsed$ as collapsed">
  <nav
    class="top-header fixed bottom-0 left-0 z-20 flex flex-col overflow-y-auto bg-white pt-6 pb-3 shadow dark:bg-zinc-800 md:overflow-auto"
    [ngClass]="collapsed ? 'w-0 md:w-14 md:px-2' : 'w-64 px-4'"
  >
    <div class="space-y-4">
      <a
        class="flex items-center rounded-lg text-gray-700 hover:bg-slate-200 dark:text-white dark:hover:bg-zinc-900"
        [ngClass]="collapsed ? 'h-10 w-10' : 'px-4 py-2'"
        [class.justify-center]="collapsed"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        routerLinkActive="bg-slate-200 dark:bg-zinc-900"
      >
        <uic-icon class="h-6 w-6" name="list-search" />
        <span class="ml-2 font-semibold" [class.sr-only]="collapsed">スキルシミュレーター</span>
      </a>

      <a
        class="flex items-center rounded-lg text-gray-700 hover:bg-slate-200 dark:text-white dark:hover:bg-zinc-900"
        [ngClass]="collapsed ? 'h-10 w-10' : 'px-4 py-2'"
        [class.justify-center]="collapsed"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/my-talismans"
        routerLinkActive="bg-slate-200 dark:bg-zinc-900"
      >
        <uic-icon class="h-6 w-6" name="diamond" />
        <span class="ml-2 font-semibold" [class.sr-only]="collapsed">護石管理</span>
      </a>

      <a
        class="flex items-center rounded-lg text-gray-700 hover:bg-slate-200 dark:text-white dark:hover:bg-zinc-900"
        [ngClass]="collapsed ? 'h-10 w-10' : 'px-4 py-2'"
        [class.justify-center]="collapsed"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/my-armors"
        routerLinkActive="bg-slate-200 dark:bg-zinc-900"
      >
        <uic-icon class="h-6 w-6" name="shield" />
        <span class="ml-2 font-semibold" [class.sr-only]="collapsed">傀異錬成防具管理</span>
      </a>
    </div>

    <div class="mt-auto text-sm" [class.hidden]="collapsed">
      <ul class="flex flex-wrap gap-3">
        <li>
          <a class="underline hover:no-underline" routerLink="/software-licenses">
            ソフトウェアライセンス
          </a>
        </li>
        <li>
          <a
            class="underline hover:no-underline"
            href="https://github.com/isoden/ya-mhrs-sim"
            target="_blank"
          >
            ソースコード
          </a>
        </li>
      </ul>
      <div class="mt-3">
        開発者
        <address class="inline-block not-italic">
          <img
            class="inline-block h-6 w-6 rounded-sm align-text-bottom"
            src="/assets/me.png"
            alt="Dedende"
          />
        </address>
      </div>
    </div>
  </nav>
</ng-container>
